[submodule "external/wxwidgets"]
	path = external/wxwidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/opencv/opencv.git
